doctype html  
html(lang='en')  
 head
   title Home
 body
   h1 No place like this one
   div.container
     p Cool home page!
     a(href='/auth/login') Login
     p
     a(href='/auth/logout') Logout
     p
     a(href='/auth/google') Google+
     p
     a(href='/auth/facebook') Facebook
     p
     a(href='/auth/github') Github