doctype html  
html(lang='en')  
 head
   style
     include home.css
   title Home
   link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
 body
 div.container
 p Login with
     div.container
      a(href='/auth/google'):  i(class='fab fa-google-plus-square fa-3x')
      a(href='/auth/facebook'): i(class='fab fa-facebook-square fa-3x')
      a(href='/auth/github'): i(class='fab fa-github-square fa-3x')
